!!! 5
html(lang="en")
  head
    title HTML 5 Musings
    link(href="/css/application.css", rel="stylesheet", type="text/css")
    block included_scripts
  body
    block content
    script(type="text/javascript", src="http://d3lp1msu2r81bx.cloudfront.net/kjs/js/lib/kinetic-v4.3.1.min.js")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.9.0.min.js")
    script(type='text/javascript', src='http://requirejs.org/docs/release/2.1.4/minified/require.js', data-main='js/application')
