!!! 5
html(lang="en")
  head
    title HTML 5 Musings
    script(data-main="js/application", src="http://requirejs.org/docs/release/2.1.4/minified/require.js")
    link(href="/css/application.css", rel="stylesheet", type="text/css")
    script(src="/js/application.js")
    block included_scripts
  body
    block content
